<div class="row">
  <div class="col-sm-12">
    <h4>You are in "{{ name }}"</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="col-sm-12" style="height: 200px;">
      <div>CHARACTER!</div>
      <span>{{character.x}}, {{character.y}}</span>
    </div>
    <div class="col-sm-12">
      Width: {{input value=mapWidth size="3"}}
      Height: {{input value=mapHeight size="3"}}
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4"> 
        <span class="btn btn-default" {{action 'move' 0 -1 }}>UP!</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"> 
        <span class="btn btn-default"{{action 'move' -1 0 }}>LEFT!</span>
      </div>
      <div class="col-sm-4 col-sm-offset-4"> 
        <span class="btn btn-default" {{action 'move' 1 0 }}>RIGHT!</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4"> 
        <span class="btn btn-default"{{action 'move' 0 1 }}>DOWN!</span>
      </div>
    </div>
    
  </div>
  
  <div class="col-sm-9">
    <table class='map' style="border: 1px solid gray;">
      {{#each rows as |row|}}
        <tr>
          {{#each row as |cell|}}
          <td class="tile {{ cell.tileClass }} {{if cell.hasCharacter 'h5'}}">{{cell.text}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </table>
  </div>

</div>

